ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

ul.header {
  // background-color: #111;
  padding: 0;
}

ul.header li a {
  color: rgb(44, 44, 44);
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: #fff;
  padding: 20px;
}

.content h2 {
  padding: 0;
  margin: 0;
}

.content li {
  margin-bottom: 10px;
}

.active {
  background-color: #d4d4d4;
}
