<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">

    <style>
        .main {
            background-color: rgb(243, 243, 243);
            height: 200px;
            position: relative;

        }

        .sub {
            margin-left: 20px;
            position: absolute;
            top: 30px;
        }
    </style>

    <!-- bootstrap stylesheet -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- bootstrap js -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
    </script>
    <script>
        function serializeObject($form) {
            var unindexed_array = $form.serializeArray();
            var indexed_array = {};

            $.map(unindexed_array, function (n, i) {
                indexed_array[n['name']] = n['value'];
            });

            return indexed_array;
        }
    </script>

</head>

<body>
    <div class="main">
        <div class="sub">
            <h1>Car History</h1>
            <form action="/api/carlist" name="regform" method="POST">
                <input type="text" name="carNumber" placeholder="차량번호">
                <input type="text" name="owner" placeholder="소유주">
                <input type="text" name="model" placeholder="차량모델">
                <input type="text" name="company" placeholder="제조사">
                <input type="text" name="numOfAccident" placeholder="사고 수">
                <input type="text" name="numOfOwnerChange" placeholder="소유주 변경 수">
                <button type="button" id="submit">제출</button>
            </form>
        </div>
    </div>


    <table class="table table-striped" id="cartable">
        <thead>
            <tr>
                <th class="th-sm">No</th>
                <th>CarNumber</th>
                <th>Owner</th>
                <th>Model</th>
                <th>Company</th>
                <th>NumOfAccident</th>
                <th>NumOfOwnerChange</th>
            </tr>
        </thead>
        <tbody id="list">
            <% for(let i=0; i<carlist.length; i++) {%>
            <tr>
                <td><%= i + 1 %></td>
                <td><%= carlist[i].carNumber %></td>
                <td><%= carlist[i].owner %></td>
                <td><%= carlist[i].model %></td>
                <td><%= carlist[i].company %></td>
                <td><%= carlist[i].numOfAccident %></td>
                <td><%= carlist[i].numOfOwnerChange %></td>
            </tr>
            <% } %>
        </tbody>
    </table>

    <script>
        $('#submit').click(function () {
            let newData = serializeObject($('form[name=regform]'));
            //alert( $('form[name=regform]').serializeArray());
            //serializeObject($('form[name=regform]'));
            $.ajax({
                type: 'POST',
                url: '/api/regcar',
                dataType: 'json',
                data: newData,
                success: function (data) {
                    console.log('success');
                    $('#list').append(`
                    <tr>
                        <td>1</td>
                        <td>${data[3].carNumber}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        </tr>
                    `)


                    console.log(data);
                },
                error: function (err) {
                    console.log('err');
                }
            });
        })


        /* 
        $.ajax({
            type: 'GET',
            url: '/api/carlist',
            success: function (data) {
                console.log('success');
                console.log(data);
                $.each(data, function (i, item) {
                    $('#list').append(`
                    <tr>
                        <td>${i+1}</td>
                        <td>${item.carNumber}</td>
                        <td>${item.owner}</td>
                        <td>${item.model}</td>
                        <td>${item.company}</td>
                        <td>${item.numOfAccident}</td>
                        <td>${item.numOfOwnerChange}</td>
                    </tr>
                    `)
                })

            },
            error: function (err) {
                console.log('err');
            }
        });
        */
        // $('#submit').click(function () {

        //     let newData = serializeObject($('form[name=regform]'));

        //     //alert( $('form[name=regform]').serializeArray());
        //     //serializeObject($('form[name=regform]'));

        //     $.ajax({
        //         type: 'POST',
        //         url: '/api/regcar',
        //         dataType: 'json',
        //         data: newData,
        //         success: function (data) {
        //             console.log('success');
        //             $.each(data, (i, item) = > {
        //                 $('#list').append(`
        //             <tr>
        //                 <td>1</td>
        //                 <td>${data[0].carNumber}</td>
        //                 <td></td>
        //                 <td></td>
        //                 <td></td>
        //                 <td></td>
        //                 <td></td>
        //                 </tr>
        //             `)
        //             })

        //             console.log(data);
        //         },
        //         error: function (err) {
        //             console.log('err');
        //         }
        //     });
        // })
    </script>
</body>

</html>