<nav class="navbar navbar-expand-md fixed-top">
    <a class="navbar-brand" href="/">STYEL</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <!-- <li class="nav-item">
                <form class="form-inline mt-2 mt-md-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </li> -->
            
            <% if(sess_user) { %>
                <li class="nav-item">
                <span class="nav-link js-scroll-trigger"><%= sess_user.user.email %></span>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/users/logout">logout</a>
                </li>
                <% } else { %>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/users/login">login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/users/signup">sign up</a>
                </li>
                <% } %>
                </li>
        </ul>
    </div>
</nav>