<!DOCTYPE html>
<html>

<head>
    <title>Error</title>
    <% include partials/head.ejs %>
</head>

<body>
    <!-- Navigation bar -->
    <% include partials/nav.ejs %>
    <div class="contaner">
        <div class="page-header m-t-1">
            <h1>Sorry: <%= message %></h1>
            <h2><%= error.status %></h2>
            <pre><%= error.stack %></pre>
        </div>
    </div>

    <!-- Footer -->
    <% include partials/footer.ejs %>
    <% include partials/javascript.ejs %>
</body>

</html>