<head>
    <title><%= title %></title>
    <% include partials/head.ejs %>
</head>

<body>
    <% include partials/nav.ejs %>
</body>

<!-- Footer -->
<% include partials/footer.ejs %>
<% include partials/javascript.ejs %>

</html>