<!DOCTYPE html>
<html lang="en">

<head>
    <title><%= title %></title>
    <% include partials/head.ejs %>
</head>


<body>
    <!-- Navigation bar -->
    <% include partials/nav.ejs %>
    <div class="container">

        <form action="/users/signup" method="POST">
            <div class="inputBox">
                <div class="form-group">
                    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" name="email"
                        autocomplete="username" required autofocus>
                </div>
                <!-- <div class="form-group">
                <input type="text" class="form-control" placeholder="username" name="username">
            </div> -->
                <hr>
                <div class="form-group">
                    <input type="password" id="inputPassword" class="form-control" placeholder="Password"
                        name="password" autocomplete="new-password" required>
                </div>
                <div class="form-group">
                    <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Confirm password"
                        name="confirm_password" autocomplete="new-password" required>
                </div>
                <button type="submit" class="btn btn-primary form-control">sign up</button>
                <a class="d-block text-center mt-2 small" href="/users/login">Sign In</a>
                <!-- <span id="signupBtn"></span> -->
                <div><br></div>

                <!-- flash massage -->
                <div>
                    <% if(message) { %>
                    <div class="alert"><%= message %></div>
                    <% } %>
                </div>
            </div>
        </form>
    </div>

    <!-- Footer -->
    <% include partials/footer.ejs %>
    <% include partials/javascript.ejs %>
</body>

</html>