<table class="table table-striped" id="cartable">
    <thead>
        <tr>
            <th class="th-sm">No</th>
            <th>CarNumber</th>
            <th>Owner</th>
            <th>Model</th>
            <th>Company</th>
            <th>NumOfAccident</th>
            <th>NumOfOwnerChange</th>
        </tr>
    </thead>
    <tbody id="list">

    </tbody>
</table>

<script>
    $.ajax({
        type: 'GET',
        url: '/api/carlist',
        success: function (data) {
            console.log('success');
            console.log(data);
            $.each(data, function (i, item) {
                $('#list').append(`
                       // 알아서
                       `)
            })

        },
        error: function (err) {
            console.log('err');
        }
    });
</script>