<table class="table table-striped" id="cartable">
    <thead>
        <tr>
            <th class="th-sm">No</th>
            <th>CarNumber</th>
            <th>Owner</th>
            <th>Model</th>
            <th>Company</th>
            <th>NumOfAccident</th>
            <th>NumOfOwnerChange</th>
        </tr>
    </thead>
    <tbody id="list">

    </tbody>
</table>