<!DOCTYPE html>
<html lang="en">

<head>
    <% include header.ejs %>
</head>


<body>
    <% include menu.ejs %>
    <%= cookie.user.username %><span>님께서 로그인 하셨습니다</span>
    <% include body.ejs %>
</body>

</html>