<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Document</title>
</head>

<body>
  <table>
    <tr>
      <td>sign in</td>
      <td><a href="/signup"></a>sign up</td>
      <td><a href="/carlist">carlist</a></td>
    </tr>
  </table>
</body>

</html>