<!DOCTYPE html>
<html lang="en">

<head>
    <% include header.ejs %>
</head>

<body>
    <% include menu.ejs %>
    <form action="/login" method="POST">
        <input type="text" placeholder="username" name="username" autocomplete="username">
        <input type="password" placeholder="password" name="password" autocomplete="current-password">
        <button type="submit">login</button>
        <span id="signupBtn"></span>
    </form>
</body>


</html>