<table>
    <tr>
        <td><a href="/">main</a><span> | </span></td>
        <td><a href="/users/login">login</a><span> | </span></td>
        <td><a href="/users/signup">sign up</a><span> | </span></td>
        <td><a href="/car/list">carlist</a><span> | </span></td>
    </tr>
</table>