<table>
    <tr>
        <td><a href="/login">login</a><span> | </span></td>
        <td><a href="/signup">sign up</a><span> | </span></td>
        <td><a href="/carlist">carlist</a><span> | </span></td>
    </tr>
</table>