<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/style.css" rel="stylesheet">

    <% include ../inc/header.ejs %>
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1>session test</h1>
        </div>
        <div>

            이름 : <%= myname %>
            아이디 : <%= myid %>

        </div>
    </div>


    <% include ../inc/footer.ejs %>
</body>

</html>